{% extends "blog/base.html" %}
{% block content %}
    <h2>Accesories</h2>
    <div class="border-top pt-3">
 {% for Accesor in accesorieries %}<div class="card-group">
  <div class="card">
      <img class="img" width="855" height="445" src="{{ Accesor.photo.url }}">
    <div class="card-body">
    <h2><a class="article-title" href="{% url 'blog-accesories' Accesor.id %}">{{ Accesor.name }}</a></h2>
      <p class="card-text"> {{ bike.type}}</p>
      <p class="card-text"><small class="text-muted">Rok produkcji {{ Accesor.production_year }}</small></p>
        <p class="card-text" style="font-weight: bold"><small class="text-muted">Cena : {{ Accesor.price }} zł</small></p>
        <p class="card-text"><small class="text-muted">Pozostało : {{Accesor.amount }}</small></p>
    </div>
  </div>

</div>
{% endfor %}
</div>
{% endblock %}
