{% extends "blog/base.html" %}
{% block content %}
    <h2>Rowery</h2>
    <div class="border-top pt-3">
 {% for bike in bikes %} <div class="card-group">

  <div class="card">
      <img class="img" width="855" height="445" src="{{ bike.photo.url }}">
    <div class="card-body">
        <h2><a class="article-title" href="{% url 'bikes-detail' bike.id %}">{{ bike.name }}</a></h2>
      <p class="card-text"> {{ bike.type}}</p>
      <p class="card-text"><small class="text-muted">Rok produkcji {{ bike.production_year }}</small></p>
        <p class="card-text" style="font-weight: bold"><small class="text-muted">Cena : {{ bike.price }} zł</small></p>
        <p class="card-text"><small class="text-muted">Waga : {{ bike.weight }}     Rozmiar Koła : {{ bike.wheel_size }}</small></p>
        <p class="card-text"><small class="text-muted">Pozostało : {{ bike.amount }}</small></p>
    </div>
  </div>

</div>{% endfor %}
    </div>
{% endblock %}
